
/* ******************** HEADER *********************** */
.top-header{
    height: 25px;
    background-color: grey;
    display: flex;
    justify-content: space-around;
}

.mid-header{
    display: flex;
    justify-content: space-between;
}

.rightMidHeader{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    margin-right: 60px;
}

.logo{
    padding-left: 215px;
    width: 70%;
}

.logo h1{
    font-size: 1.2em;
}

.quatre{
    width: 50%;
    display: flex;
}

.quatre img{
    width: 10%;
    height: 30px;
}

.quatre h3, p{
    margin: 0;
    padding: 0;
    font-size: 0.9rem;
}

/* ***************** NAVBAR ********************** */

.navbar{
    background: rgb(255,255,255);
    background: linear-gradient( rgba(255,255,255,1) 34%, rgba(255,255,255,1) 47%, rgba(0,0,0,1) 100%);
    border: 1px solid black;
}

nav ul{
    width: 1500px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

nav ul li{
    width: 120px;
    border-right: 1px solid black;
    list-style-type: none;
    margin: 0;
    padding-top: 7px;
}

nav ul li a{
    text-decoration: none;
    color: black;
}

nav{
    background: rgb(255,255,255);
    border: 1px solid rgba(86, 86, 86, 0.451);
}

.quatre .texte{
    width: 75%;
}

/* ******************** MAIN *******************/
.conteneurCarousel{
    width: 85%;
    margin: 0 auto;
    margin-left: 210px;
}

.card-text{
    font-size: 0.9em;
}


.fa-house-chimney{
    color: black;
}

.fa-magnifying-glass{
    color: white;
}

#icone{
    width: 75%;
    display: flex;
    margin: 30px auto;
}

.fullIcone{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.icone{
    height: 50px;
    width: 350px;
    display: flex;
}

.icone fa-solid{
    width: 20%;
}

.icone p{
    margin-left: 10px;
    width: 80%;
}

.produits{
    width: 300px;
    height: 200px;
    clip-path: polygon(0 0, 65% 0, 88% 36%, 66% 36%, 65% 24%, 0 24%);
    background-color: rgb(192, 49, 87);
}

.produits{
    color: white;
    padding-left: 15px;
    padding-top: 5px;
}

hr{
    position: relative;
    top: 60px;
}

.shop{
    width: 300px;
    height: 200px;
    clip-path: polygon(52% 0, 72% 10%, 53% 20%, 0 20%, 0 0);
    background-color: rgb(192, 49, 87);
}

.shop{
    color: white;
    padding-left: 50px;
    padding-top: 3px;
    text-transform: uppercase
}

.promo{
    position: absolute;
}

.livraison{
    position: absolute;
}

.triplebloc{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.triplebloc .bloc1{
    width: 50%;
    background-color: rgb(36, 30, 30);
}

.triplebloc .bloc2{
    width: 50%;
    background-color: rgb(207, 36, 104);
}

.triplebloc .bloc3{
    width: 100%;
    background-color: grey;
}

.triplebloc p{
    font-weight: bold;
    color: white;
}